@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing  : border-box;
}
:root {
    --message-section-bgcolor : #aaaaaa;
    --light-grey : #dddddd;
    --search-input : #cccccc;
    --spec-message-container : #cccccc;
    --spec-message-user-title : #fff;
    --spec-message-messages : #eeeeee;
}

body {
    font-family : Lato;
    overflow-y : hidden;
}

.message-section {
    height : 100vh;
    width : 100vw;
    background-color: var(--message-section-bgcolor);
    display : flex;
}

.backdrop {
    display : none;
    height : 100%;
    width : 100%;
    background-color: rgba(0, 0, 0, 0.562);
    z-index : 2;
}

.backdrop-active {
    display : block;
}

/* Mobile First Development */
.online-preview-container {
    display : none;
    height : 100%;
    min-width : 75%;
    background-color : var(--light-grey);
    z-index : 4;
    transform: translateX(-100vw);
    transition : all 1s;
}

.online-preview-container-active {
    display : block;
    transform: translateX(0);
}

.messages-container {
    position : fixed;
    height : 100%;
    width : 100%;
}

.user-title-container {
    background-color : var(--spec-message-user-title);
    height : 10%;
    width : 100%;
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.hamburger-icon {
    font-size : 300%;
}

.user-image-and-name-container {
    height : 50px;
    width : 50px;
    object-fit : cover;
    border-radius : 100%;
}

.user-image-and-name-container img {
    height : 50px;
    width : 50px;
    object-fit : cover;
    border-radius : 100%;
}

.user-name-and-active-status {
    display : none;
}

/* Messages Container */
.your-message-container {
    height : 70px;
    background-color :  var(--light-grey);
    text-align: center;
    padding-top : 15px;
}

.online-preview-container__user-search-container {
    height : 60px;
    background-color :  var(--light-grey);
    padding-top : 10px;
}

.user-search-form {
    text-align : center;
}

.user-search {
    width : 90%;
    padding : 10px;
    border-radius : 8px;
    outline : none;
    border : 1px solid var(--search-input);
    background-color: var(--search-input);
    font-family : Lato;
    letter-spacing : 0.8px;
}

.online-preview-container__online-users-container {
    max-height : 81%;
    background-color: var(--light-grey);
    overflow : scroll;
}

.online-preview-container__online-users-container::-webkit-scrollbar {
    width : 0;
    background : transparent;
}

.user-info {
    height : 60px;
    width : 100%;
    margin-bottom : 10px;
    padding : 5px 0;
    position : relative;
}

.user-image-container {
    height : 50px;
    width : 50px;
    margin : 0 10px;
}

.user-image-container img {
    height : 100%;
    width : 100%;
    object-fit : cover;
    border-radius : 100%;
}

.user-info-plus-message-container {
    position : absolute;
    top : 0.65rem;
    left : 4.5rem;
}

.user-info-container h4 {
    font-weight: 600;
    font-size : 80%;
}

.user-message-container{
    width : 160px;
    overflow : hidden;
    white-space : nowrap;
    text-overflow: hidden;
}

.videocall-icon {
    display : none;
}


/* For screen size of 375 px */
@media only screen and (min-width : 375px) {
    .user-message-container{
        width : 180px;
    }
}

/* For screen size of 425 px */
@media only screen and (min-width : 425px) {
    .user-message-container {
        width : 200px;
    }
}


/* For tablets--> size of 768px*/
@media only screen and (min-width : 768px) {
    .user-message-container {
        width : 400px;
    }

    .online-preview-container {
        min-width : 45%;
    }

}

/* For laptops--> size of 1024px */
@media only screen and (min-width : 1024px) {
    .online-preview-container {
        height : 100%;
        width : 30%;
        z-index : none;
        transform: none;
        transition : none;
    }

    .messages-container {
        position : initial;
        height : 100%;
        width : 70%;
    }

    .hamburger-icon {
        display : none;
    }

    .user-title-container {
        height : 10%;
        width : 100%;
    }

}
























/* 
.online-preview-container {
    width : 25%;
    height : 100%;
    background-color : var(--light-grey);
}

.your-message-container {
    height : 70px;
    background-color :  var(--light-grey);
    text-align: center;
    padding-top : 15px;
}

.online-preview-container__user-search-container {
    height : 60px;
    background-color :  var(--light-grey);
    padding-top : 10px;
}

.user-search-form {
    text-align : center;
}

.user-search {
    width : 90%;
    padding : 10px;
    border-radius : 8px;
    outline : none;
    border : 1px solid var(--search-input);
    background-color: var(--search-input);
    font-family : Lato;
    letter-spacing : 0.8px;
}

.online-preview-container__online-users-container {
    max-height : 555px;
    background-color: var(--light-grey);
    overflow : scroll;
}

.online-preview-container__online-users-container::-webkit-scrollbar {
    width : 0;
    background : transparent;
}

.user-info {
    height : 60px;
    width : 100%;
    position : relative;
    margin-bottom : 10px;
    padding : 5px 0;
}

.user-info-active {
    background-color : #fff;
}



.user-info:first-child {
    margin-top : 10px;
}

.user-image-container {
    height : 50px;
    width : 50px;
    margin : 0 10px;
}

.user-image-container img {
    height : 100%;
    width : 100%;
    object-fit : cover;
    border-radius : 100%;
}

.user-info-plus-message-container {
    position : absolute;
    top : 10%;
    left : 20%;
}

.user-info-container h4 {
    font-weight: 600;
}

.copyright-container p {
    padding-left : 5px;
    font-weight : 300;
}

.messages-container {
    width : 75%;
    background-color : var(--spec-message-container);
}

/* Messages Container */

/* .user-title-container {
    background-color : var(--spec-message-user-title);
    height : 10%;
    width : 100%;
    position : relative;
    padding-top : 10px;
    padding-left : 10px;
}

.user-image-and-name-container img {
    height : 50px;
    width : 50px;
    object-fit : cover;
    border-radius : 100%;
}

.active-icon-container {
    height : 15px;
    width : 15px;
    background-color : var(--spec-message-user-title);
    padding : 3px;
    border-radius : 100%;
    position : absolute;
    top : 20.5%;
    left : 4%;
}

.active-icon {
    height : 100%;
    width : 100%;
    background-color: green;
    border-radius : 100%;
}

.user-name-and-active-status {
    position : absolute;
    top : 18%;
    left : 6%;
}






.user-messages-container {
    height : 90%;
    background-color : var(--spec-message-messages);
} */ 


/*--------------------*/